* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Montserrat", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background: azure;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  margin: 0 auto;
}
.header {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(73, 5, 29, 1) 0%,
    rgb(255 1 92) 50%,
    rgba(83, 8, 46, 1) 100%
  );
}
.header__wrapper {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.header__wrapper span {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}
.header__wrapper a {
  font-size: 20px;
  color: #ffffff;
}
.header__logo {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  border-radius: 50%;
  background: rgb(255 1 92);
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
  height: 100px;
  background: #000000;
}
